.htmlDemo {
  margin-bottom: 30px;
  & > * {
    margin: 0 !important;
  }

  .iframeBg {
    padding: 10px;
    min-height: 150px;

    /* 网格效果 */
    background-image: linear-gradient(to right, #eee 1px, transparent 1px),
      linear-gradient(to bottom, #eee 1px, transparent 1px);
    /* 网格大小 */
    background-size: 10px 10px;
    /* 设置右边和底部边框 */
    border: 1px solid #eee;
    border-left: none;
    border-top: none;
    box-sizing: border-box;
  }

  header {
    display: flex;
    justify-content: space-between;
    & > a {
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  details {
    border-radius: 0 0 8px 8px;
    summary {
      background: #eee;
      height: 30px;
      line-height: 30px;
      padding-left: 10px;
    }
  }
}